
  <div class="document">
    <div class="subtitle">
      <p>
        <% if user_signed_in?%>
        <%= @user.name.capitalize %>'s Diary
        <% else %>
        <%= link_to "Log-in", user_session_path %>
        to save entries
        <% end %>
      </p>
      <div class="wrapper">
      <div class="divider div-transparent div-dot"></div>
      </div>
    </div>
    <div class="date">
      <h1>
        <% date = Time.now.to_s %>
       <%= Date.parse(date).strftime("%m/%d/%Y")%>
      </h1>
    </div>
    <div contenteditable="true" class="entry">
      <p class="tab">&nbsp;</p>
    </div>
    <div class="margin"></div>
  </div>
  <button id="save">
    Save
  </button>

  <% if user_signed_in? && @user.entries.exists? %>
  <div class="entries">
  <% @user.entries.each do |entry| %>
    <div class="date">
      <h1>
        <% entry_date = entry.date %>
        <% entry_date = Date.parse(entry_date).strftime("%m/%d/%Y") %>
        <%= link_to entry_date, entry_path(entry) %>
      </h1>
    </div>
    <div class="entry">

      <%= entry.body.html_safe %>
    </div>
    <% if entry.updates.exists? %>
    <% entry.updates.each do |update| %>
      <div class="wrapper">
      <div class="divider div-transparent"></div>
      <p> <%= update.body %></p>
      </div>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>


<%= form_for @entry do |f| %>
<%= f.text_field :body, id: "entry_body" %>
<%= f.button :submit, id: "button" %>
<% end %>

<!--  clicks the tag so that cursor shows up -->
<script type="text/javascript">
function clickTag() {
  document.getElementsByClassName("entry")[0].focus(); // Click on the checkbox

}
clickTag()
</script>

<!-- injects contents of p tag into form and submits -->
<script type="text/javascript">

  document.getElementById("save").onclick = myFunction;
  function myFunction() {
    var input = document.getElementById("entry_body");
    var content = document.getElementsByClassName("tab");
    var finalContent = '';
    for (i = 0; i < content.length; i++) {
      var p = document.getElementsByClassName("tab")[i].innerHTML;
      finalContent += `${p} <br>`;
    };
    input.value = (finalContent);
    document.getElementById("button").click();
}
</script>

<script type="text/javascript">


var textHeight = 902

function yourFunction(){
    // do whatever you like here
     // method to be executed;
    var docHeight = document.getElementsByClassName("document")[0].clientHeight;

    var difference = textHeight - docHeight;
    if (difference > 29) {
      textHeight = docHeight + 2
    };

    if (docHeight >= textHeight) {
    window.scrollBy(0, 22);
    textHeight = docHeight + 22;



    // alert(numberOfLineBreaks);
  };

    setTimeout(yourFunction, 100);
}

yourFunction()



</script>








