    <!-- This checks to see if the database has an entry that contains today's date, if it does it will skip creation form for today's entry (line 20 - 55) -->
    <% if user_signed_in? && @user.entries.exists? %>
      <% sorted_entries = @user.entries.sort_by(&:created_at)%>
      <% sorted_entries.each do |entry| %>
        <% if entry.date == Date.today.strftime %>
        <!-- this one means that todays entry exists -->
          <% @home = "index" %>
          <!-- made specifically for page counter -->
          <% @made = true %>
          <% break %>
        <% end %>
      <% end %>
    <% end %>

    <!-- sets counter for pages if not logged in, page will be 1 -->
    <% if !user_signed_in? || !@user.entries.exists? %>
      <% page = 1 %>
      <!-- has entries but no entry today. page will be last number -->
    <% else @user.entries.exists? && @home != "index"  %>
      <% page = sorted_entries.count + 1  %>
      <% index_page = sorted_entries.count%>
      <% count = 1 %>
    <% end %>

<!-- This is the document that the user types in to create entry -->
<div class="carousel-wrapper">
  <div class="carousel">
  <!-- code only runs if todays entry hasnt been made -->
  <% if @home != "index" %>
    <div class="carousel__entry initial">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-lg-offset-3">
            <div class="entries">
              <% if user_signed_in? %>
                <%= render :partial => 'shared/dropdown' %>
              <% end %>
              <div class="subtitle" onclick="toggleOff()">
                <p>
                  <% if user_signed_in?%>
                    <%= @user.name.capitalize %>'s Diary
                  <% else %>
                    <%= link_to "Log-in", user_session_path %>
                    to save entries
                  <% end %>
                </p>
                <div class="wrapper">
                  <div class="divider div-transparent div-dot"></div>
                </div>
              </div>

              <div class="date">
                <h1>
                  <% date = Time.now.to_s %>
                 <%= Date.parse(date).strftime("%m/%d/%Y")%>
                </h1>
              </div>
              <!-- This is where you enter text  -->
              <div contenteditable="true" class="entry">
                <p class="tab" onclick="toggleOff()">&nbsp;</p>
              </div>
              <div class="margin"></div>
              <div class="count">
                <p>- <%= page %> -</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

   <!--This will show entries if they exist  -->
    <% if user_signed_in? && @user.entries.exists? %>
    <!-- We have to move last index position to front if today's creation div is skipped (line 20-55) -->
      <% if @home == "index" %>
        <% sorted_entries = sorted_entries.rotate(-1) %>
      <% end %>
      <%  sorted_entries.each do |entry| %>
          <div class="carousel__entry">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                  <div class="entries-list">

                    <!-- resets this variable so that dropdown works -->
                  <% @home = "index" %>
                  <%= render :partial => 'shared/dropdown', locals: {entry: entry} %>
                    <div class="subtitle" onclick="toggleOff()">
                      <p>
                        <%= @user.name.capitalize %>'s Diary
                      </p>
                      <div class="wrapper">
                        <div class="divider div-transparent div-dot"></div>
                      </div>
                    </div>
                    <div class="date">
                      <h1>
                        <% entry_date = entry.date %>
                        <% entry_date = Date.parse(entry_date).strftime("%m/%d/%Y") %>
                        <%= entry_date %>
                      </h1>
                    </div>
                    <!-- Shows each entry -->
                    <div class="entry">
                      <%= entry.body.html_safe %>
                    </div>
                    <% if entry.updates.exists? %>
                      <% entry.updates.each do |update| %>
                          <% update_date = update.date %>
                          <% update_date = Date.parse(update_date).strftime("%m/%d/%Y") %>
                          <p class="update-date ">Updated on <%= update_date %></p>
                          <p class="entry spacing"> <%= update.body.html_safe %></p>
                      <% end %>
                    <% end %>
                    <div class="toggle">
                      <div class="wrapper">
                        <div class="divider div-transparent"></div>
                      </div>
                      <div contenteditable="true" class="entry update-padding">
                        <p class="tab" onclick="toggleOff()">&nbsp;</p>
                      </div>
                    </div>
                    <div class="margin2"></div>

                    <div class="count">
                    <% if @made == true %>
                      <p>- <%= index_page%> -</p>
                      <% index_page = count %>
                        <% count += 1 %>
                    <% else %>
                      <p>- <%= count %> -</p>
                        <% count += 1 %>
                    <% end %>
                    </div>
                    <div class="update-id"><%= entry.id %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
    <% if user_signed_in? %>
      <% if page > 1 %>
        <div class="carousel__button--next"></div>
        <div class="carousel__button--prev"></div>
      <% end %>
    <% end %>


<!-- form for updating an entry -->
<div class="hideforms">
<form name="updateForm" class="new_update" id="new_update" onSubmit="formAction(this)" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
  <input id="update_body" type="text" name="update[body]">
  <button name="button" type="submit" id="update_button">submit</button>
</form>


<!-- Javascript injects content into this form and saves it as an entry instance -->
<%= form_for @entry do |f| %>
<%= f.text_field :body, id: "entry_body" %>
<%= f.button :submit, id: "button" %>
<% end %>

</div>


