  <div class="subtitle">
    <p>
      <% if user_signed_in?%>
      <%= @user.name.capitalize %>'s Diary
      <% else %>
      <%= link_to "Log-in", user_session_path %>
      to save entries
      <% end %>
    </p>
  </div>
  <div class="document">
    <div class="date">
      <h1>
        <% date = Time.now.to_s %>
       <%= Date.parse(date).strftime("%m/%d/%Y")%>
      </h1>
    </div>
    <div contenteditable="true" id="entry">
      <p id="tab">&nbsp;</p>
    </div>
  </div>
  <button id="save">
    Save
  </button>


<%= form_for @entry do |f| %>
<%= f.text_field :body, id: "entry_body" %>
<%= f.button :submit, id: "button" %>
<% end %>

<!--  clicks the tag so that cursor shows up -->
<script type="text/javascript">
function clickTag() {
  document.getElementById("entry").focus(); // Click on the checkbox

}
clickTag()
</script>

<!-- injects contents of p tag into form and submits -->
<script type="text/javascript">

  document.getElementById("save").onclick = myFunction;
  function myFunction() {
    var input = document.getElementById("entry_body")
    var content = document.getElementById("tab").innerHTML.replace(/\&nbsp;/g, '');
    input.value = (content)
    document.getElementById("button").click();
}
</script>


