    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 md-12 col-lg-6 col-lg-offset-3">
          <div class="entries">
            <%= render :partial => 'shared/dropdown', locals: {entry: entry} %>
         <div class="button-wrapper">
          <div class="carousel__button--next"></div>
          <div class="carousel__button--prev"></div>
    </div>
          <div class="title">
            <div class="subtitle">
                  <%= @user.name.capitalize %>'s Diary
            </div>
            <div class="date">
                <% date = entry.date %>
                <%= Date.parse(date).strftime("%m/%d/%Y")%>
            </div>
          </div>
            <div class="divider div-transparent div-dot"></div>
            <!-- This is where you enter text  -->
            <div class="entry">
              <%= entry.body.html_safe %>
            </div>
            <div id="update-<%=entry.id%>">
              <div class="updates">
              <% if entry.updates.exists? %>
                <% sorted_updates = entry.updates.sort_by(&:created_at) %>
                <% sorted_updates.each do |update| %>
                  <% update_date = update.date %>
                  <% update_date = Date.parse(update_date).strftime("%m/%d/%Y") %>
                  <p class="update-date ">Updated on <%= update_date %></p>
                  <p class="entry spacing"> <%= update.body.html_safe %></p>
                <% end %>
              <% end %>
              </div>
            </div>
            <div class="toggle">
                <div class="divider div-transparent"></div>
              <div contenteditable="true" class="update-entry update-padding">
                <p class="tab">&nbsp;</p>
              </div>
            </div>
            <div class="margin2"></div>
            <div class="count">
              <p>-<%= index + 1 %> -</p>
            </div>
            <div class="update-id"><%= entry.id %></div>
          </div>
        </div>
      </div>
    </div>
