  <!-- code only runs if todays entry hasnt been made -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-lg-offset-3">
            <div class="entries">
              <%= render :partial => 'shared/new-dropdown' %>
            <div class="button-wrapper">
              <div class="carousel__button--next"></div>
              <div class="carousel__button--prev"></div>
            </div>
            <div class="title">
              <div class="subtitle">
                    <%= @user.name.capitalize %>'s Diary
              </div>
              <div class="date">

                    <% date = Time.now.to_s %>
                    <%= Date.parse(date).strftime("%m/%d/%Y")%>

              </div>
            </div>
              <div class="divider div-transparent div-dot"></div>
              <!-- This is where you enter text  -->
              <div contenteditable="true" class="entry">
                &nbsp;
              </div>
              <div class="margin"></div>
              <div class="count">
                <p>- <%=@user.entries.count + 1  %> -</p>
              </div>
            </div>
          </div>
        </div>
      </div>


<!-- Javascript injects content into this form and saves it as an entry instance -->
<div class="form">
  <%= form_for @entry do |f| %>
  <%= f.text_field :body, id: "entry_body" %>
  <%= f.button :submit, id: "button" %>
  <% end %>
</div>
